html,
body {
  margin: 0;
  padding: 0;
  background: #00c3ff;
}

button:not(.option) {
  color: white;
  background: #00c3ff;
  border-color: #00c3ff;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

button:hover:not(.option) {
  background: #62D8FC;
}

.option {
  background: white;
  color: black;
  border-color: black;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  height: 200px;
  min-height: 200px;
  max-height: 200px;
  font-size: large;
  margin: 50px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.option:hover {
  background: #f0f0f0;
}

main {
  display: flex;
  justify-content: center;
  background: white;
  position: absolute;
  flex-wrap: wrap;
  overflow-y: scroll;
  top: 20px;
  left: 20px;
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
}
