html, body {
    margin: 0;
    padding: 0;
    background: #00c3ff;
}

button {
    color: white;
    background: #00c3ff;
    border-radius: 5px;
    border-color: #00c3ff;
    border: none;
  }

  button:hover {
    background: #62D8FC;
  }
