
html, body {
  margin: 0;
  padding: 0;
  background: #00c3ff;
}

#block-editor {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 25px);
  top: 25px;
}

.blocklyTreeRow {
  width: 100px;
}


button {
  color: white;
  background: #00c3ff;
  border-radius: 5px;
  border-color: #00c3ff;
  border: none;
}

button:hover {
  background: #62D8FC;
}

a {
  display: none;
}

label {
  color: white;
}
