html, body {
    margin: 0;
    padding: 0;
    background: #00c3ff;
}

* {
    font-family: "Lexend", sans-serif;
}

#block-editor {
    position: absolute;
    width: 100vw;
    height: calc(100vh - 25px);
    top: 25px;
}

.blocklyTreeRow {
    width: 100px;
}


button {
    color: white;
    background: #00c3ff;
    border-radius: 5px;
    border-color: #00c3ff;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

button:hover {
    background: #62D8FC;
}

label {
    color: white;
}

.close {
    position: absolute;
    border-radius: 1px;
    bottom: 5px;
    right: 5px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}

.whats-new-dialog {
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    max-width: 400px;
    max-height: 400px;
}

.whats-new-h1 {
    text-align: center;
}

.update {
    margin: 20px;
}


#top-bar {
    position: absolute;
    top: -5px;
}

#top-bar>input:not([type="color"]) {
    margin-top: 6px;
    height: 16px;
}

#top-bar>input[type="color"] {
    margin-top: 4px;
    border: none;
    height: 20px;
}

#version {
    position: absolute;
    color: white;
    text-align: right;
    right: 10px;
    top: 5px;
}

.material-symbols-outlined.dark{
    font-variation-settings:
    'FILL' 255,
    'wght' 150,
    'GRAD' 0,
    'opsz' 24;
    transform: translateY(5px);
}

.material-symbols-outlined:not(.dark){
    font-variation-settings:
    'FILL' 0,
    'wght' 150,
    'GRAD' 0,
    'opsz' 24;
    transform: translateY(5px);
}

.blocklyTreeSeparator:not(.dark) {
    border-bottom: solid #888 1px;
}

