html, body {
    margin: 0;
    padding: 0;
    background: #00c3ff;
}

main {
  display: flex;
  justify-content: left;
  background: white;
  position: absolute;
  width: calc(100vw - 40px);
  height: calc(100vh - 20px);
  bottom: 0px;
  left: 20px;
}

.category {
  display: flex;
  background: #ffffff;
  border: none;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.category:hover{
  background: #cccccc;
}

.category.selected {
  background: #cccccc;
}

.circle {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

button:not(.category) {
    color: white;
    background: #00c3ff;
    border-radius: 5px;
    border-color: #00c3ff;
    border: none;
  }

  button:hover:not(.category) {
    background: #62D8FC;
  }
